
/*CONFIGURAÇÕES GERAIS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

img{
	display: block;
	max-width: 100%;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 60px;
	cursor: pointer;
	display: none;
	padding: 10px;
}

#check{
	display: none;
}

/*HEADER*/

header{
	background-color:#DAAC00;
}

.logo a{
	font-size: 35px;
	font-weight: bold;
	color: white;
	line-height: 80px;
	padding: 7px 10px;
}

.menu ul li{
	float: right;
	
}

.menu ul li a{
	color: white;
	margin-right: 10px;
	line-height: 80px;
	text-transform: uppercase;
	padding-right: 25px;
	font-weight: 500;
	letter-spacing: 0.1em;
	padding: 7px 10px;
	border-radius: 3px;
	transition: 0.5s;
}

.menu ul li a:hover {
	background: #00BEC9;
}

/*INTRO*/

.group-1{
	background: #FCC302;
	height: 600px;
}

.intro h1{
	font-size: 60px;
	font-weight: 600;
	line-height: 60px;
	margin-top: 120px;
	color: white;
}

.intro p{
	color: white;
	font-size: 20px;
	line-height: 20px;
	padding: 30px 0 80px 0;
}

.intro a{
	margin-right: 30px;
	padding: 15px 25px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
}

.btn{
	border: 3px solid white;
	transition: 0.5s;
}

.btn:hover{
	border-color: #00BEC9;
}

.btn-azul{
	background: #00BEC9;
	border: 3px solid #00BEC9;
	transition: 0.5s;
}

.btn-azul:hover{
	background: #008b92;
	border-color: #008b92;
}

.group-1 .grid-6{
	position: relative;
}


.intro-img{
	position: absolute;
	top: 60px;
}






/*MENU-RESPONSIVO*/

@media only screen and (max-width:787px) {
	.checkbtn{
		display: block;
	}

	.menu ul{
		position: fixed;
		background-color: #FCC302;
		width: 100%;
		height: 100vh;
		left: -100%;
		top: 80px;
		text-align: center;
		transition: all 0.5s;
	}

	.menu ul li {
		float: none;
		display: block;
		line-height: 30px;
	}

	.menu ul li:nth-child(1){
		margin-top: 80px;
	}

	.menu ul li a{
		font-size: 22px;
		font-weight: bold;
	}

	#check:checked ~ .menu ul{
		left: 0;
		z-index: 5;
		transition: all 0.5s;
	}
}


