*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --cinza: #452A31;
    --amarelo: #FFCC4C;
    --azul: #0976AB;
    --fonte-padrao: 'Montserrat', sans-serif;  
    --fonte-destaque: 'Amatic SC', cursive, sans-serif;
}

/*---------HEADER--------*/

#btn-mobile{
    display: none;
}

header{
    background: url(../img/Header\ Background.jpg) no-repeat center;
    background-size: cover;
    padding: 0px calc((100% - 1160px) / 2);
}

.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}


.head ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.head ul a{
    text-transform: uppercase;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    color: white;
    line-height: 20px;
    letter-spacing: 1px;
}

.intro{
    display: flex;
    align-items: flex-end;
}

.intro .img:first-child{
    position: relative;
    bottom: -50px;
}

.intro li{
    flex: 1 1 200px;
}

header h1{
    padding-bottom: 30px;
}

header h1, header span{
    font-family: var(--fonte-destaque);
    font-size: 2.56rem;
    text-align: center;
}

header span{
    color: var(--azul);
}

@media screen and (max-width:899px) {
    .intro .img:first-child{
        bottom: 0px;
    }

    #btn-mobile{
        display: flex;
        margin: 5px;
        padding: .6rem;
        cursor: pointer;
        border: none;
        background: transparent;
        gap: .5rem;
    }

    #hamburguer{
        width: 30px;
        border-top: 4px solid var(--cinza);
        color: var(--cinza);
    }

    #hamburguer::after, #hamburguer::before{
        content: "";
        width: 30px;
        height: 4px;
        background: currentColor;
        display: block;
        margin-top: 5px;
        position: relative;
        transition: .3s;
    }

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::after{
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::before{
        transform: rotate(-135deg);
        top: 9px;
    }

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 120px;
        right: 0px;
        background-color: var(--cinza);
        height: 0px;
        z-index: 100;
        transition: .5s;
        overflow-y: hidden;
        visibility: hidden;
    }

    #nav.active #menu{
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        display: block;
        padding: 1rem 0px;
        margin: 20px 2rem;
        border-bottom: 1px solid white;
    }
}

@media screen and (max-width:400px) {
    #logo{
        width: 80%;
    }
}


/*-----------GROUP-2-------------*/

.group-2{
    padding: 80px calc((100% - 1160px) /2);
    position: relative;
}

.group-2 .info{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: flex-start;
}

.group-2 h1, .group-2 .img{
    flex: 1 1 200px;
}

.group-2 .story{
    flex: 2 1 300px;
    padding: 20px;
}

.group-2 h1{
    font-size: 3.65rem;
    line-height: 65px;
    padding: 20px;
}

.group-2 p{
    padding-top: 50px;
    font-size: 1.2rem;
}

.group-2 a{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px 0px;
    color: var(--azul);
}

.group-2 span{
    font-size: 6.25rem;
    color: var(--azul);
}

.group-2 .img-dog{
    position: absolute;
    left: 0px;
    top: 40px;
    z-index: -1;
}

@media screen and (max-width: 1050px) {
    .group-2 .img-dog{
        opacity: .3;
    }

    .group-2 .img{
        margin-left: 50%;
    }
}

@media screen and (max-width: 690px) {
    
    .group-2{
        text-align: center;
    }
    
    .group-2 .img{
        margin: auto;
    }
}

/*-----------GROUP 3------------*/

.group-3{
    padding: 80px calc((100% - 1160px) / 2);
    text-align: center;
    background: url(../img/chicken-2.png) no-repeat center;
    background-size: cover;
    position: relative;
    color: white;
    z-index: -2;
}

.group-3 h1{
    font-family: var(--fonte-destaque);
    font-size: 3rem;
    line-height: 70px;
}

.group-3 span{
    display: block;
    font-size: 5rem;
    padding-bottom: 30px;
}

.group-3 p{
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    line-height: 33px;
    font-size: 1.2rem;
}

@media screen and (max-width:899px) {
    .group-3 span{
        font-size: 3.7rem;
    }
}

/*------------GROUP 3B-------------*/

.group-3b{
    padding: 80px calc((100% - 1160px) /2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.group-3b .info{
    flex: 2 1 400px;
}

.group-3b .info h1{
    font-family: var(--fonte-destaque);
    font-size: 3.4rem;
    line-height: 66px;
    margin: 20px 10px;
}

.group-3b .info p{
    margin: 20px 10px;
    font-size: 1.2rem;
    line-height: 33px;
    font-size: 1.2rem;
}

.group-3b a{
    display: inline-block;
    margin: 0px 10px 40px 10px;
    padding: 15px 20px;
    background: var(--azul);
    color: white;
    text-transform: uppercase;
}

.group-3b .img{
    flex: 1 1 300px;
    margin: 10px;
}

@media screen and (max-width:899px) {
    .group-3b{
        text-align: center;
    }
}


/*------------GROUP 4---------------*/

.group-4{
    padding: 80px calc((100% - 1160px) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    background: url(../img/design.jpg) no-repeat center;
    background-size: cover;
}

.group-4 .search, .group-4 .get{
    flex: 2;
    padding: 10px;
    position: relative;
}

.group-4 .search input{
    display: block;
    width: 70%;
    background: url(../img/search-icon.png) no-repeat right;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 10px 0px;
    margin: 30px 0px;
}

.group-4 a{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    background: var(--azul);
    padding: 15px 20px;
    color: white;
}

.group-4 .get{
    margin-left: 80px;
}

.group-4 .get p{
    font-size: 1.2rem;
    line-height: 21px;
    margin: 30px 0px;
}

.group-4 h2{
    font-family: var(--fonte-destaque);
    font-size: 2rem;
    line-height: 46px;
}

.group-4 .img{
    flex: 1;
    position: relative;
    top: -120px;
}

@media screen and (max-width:899px) {
    .group-4{
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .group-4 .img{
        top: 0;
        margin: 30px 10px;
    }

    .group-4 .img img{
        height: 280px;
    }

    .group-4 .search{
        margin: 0px;
        padding: 0px;
    }

    .group-4 .get{
        margin: 0px;
        padding: 10px auto;
    }
}

/*--------GROUP 5----------*/

.group-5{
    padding: 80px calc((100% - 1160px) / 2);
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.group-5 .img{
    flex: 1 1 300px;
}

.group-5 .info{
    flex: 2 1 500px;
    max-width: 600px;
    margin-right: 80px;
}

.group-5 .info h1{
    font-family: var(--fonte-destaque);
    font-size: 2rem;
    margin-bottom: 30px;
    line-height: 46px;
}

.group-5 .info a{
    display: inline-block;
    margin-top: 25px;
    padding: 15px 20px;
    background-color: var(--azul);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width:899px) {
    .group-5{
        text-align: center;
    }

    .group-5 .img img{
        margin: 0 auto;
    }

    .group-5 .info{
        max-width: 100%;
        margin: 0px;
    }
}

