*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --cinza: #452A31;
    --amarelo: #FFCC4C;
    --azul: #0976AB;
    --fonte-padrao: 'Montserrat', sans-serif;  
    --fonte-destaque: 'Amatic SC', cursive, sans-serif;
}

/*---------HEADER--------*/

#btn-mobile{
    display: none;
}

header{
    background: url(../img/Header\ Background.jpg) no-repeat center;
    background-size: cover;
    padding: 0px calc((100% - 1160px) / 2);
}

.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}


.head ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.head ul a{
    text-transform: uppercase;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    color: white;
    line-height: 20px;
    letter-spacing: 1px;
}

.intro{
    display: flex;
    align-items: flex-end;
}

.intro .img:first-child{
    position: relative;
    bottom: -50px;
}

.intro li{
    flex: 1 1 200px;
}

header h1{
    padding-bottom: 30px;
}

header h1, header span{
    font-family: var(--fonte-destaque);
    font-size: 2.56rem;
    text-align: center;
}

header span{
    color: var(--azul);
}

@media screen and (max-width:899px) {
    .intro .img:first-child{
        bottom: 0px;
    }

    #btn-mobile{
        display: flex;
        margin: 5px;
        padding: .6rem;
        cursor: pointer;
        border: none;
        background: transparent;
        gap: .5rem;
    }

    #hamburguer{
        width: 30px;
        border-top: 4px solid var(--cinza);
        color: var(--cinza);
    }

    #hamburguer::after, #hamburguer::before{
        content: "";
        width: 30px;
        height: 4px;
        background: currentColor;
        display: block;
        margin-top: 5px;
        position: relative;
        transition: .3s;
    }

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::after{
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::before{
        transform: rotate(-135deg);
        top: 9px;
    }

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 120px;
        right: 0px;
        background-color: var(--cinza);
        height: 0px;
        z-index: 100;
        transition: .5s;
        overflow-y: hidden;
        visibility: hidden;
    }

    #nav.active #menu{
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        display: block;
        padding: 1rem 0px;
        margin: 20px 2rem;
        border-bottom: 1px solid white;
    }
}

@media screen and (max-width:400px) {
    #logo{
        width: 80%;
    }
}


/*-----------GROUP-2-------------*/

.group-2{
    padding: 80px calc((100% - 1160px) /2);
    position: relative;
}

.group-2 .info{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: flex-start;
}

.group-2 h1, .group-2 .img{
    flex: 1 1 200px;
}

.group-2 .story{
    flex: 2 1 300px;
    padding: 20px;
}

.group-2 h1{
    font-size: 3.65rem;
    line-height: 65px;
    padding: 20px;
}

.group-2 p{
    padding-top: 50px;
    font-size: 1.2rem;
}

.group-2 a{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px 0px;
    color: var(--azul);
}

.group-2 span{
    font-size: 6.25rem;
    color: var(--azul);
}

.group-2 .img-dog{
    position: absolute;
    left: 0px;
    top: 40px;
    z-index: -1;
}

@media screen and (max-width: 1050px) {
    .group-2 .img-dog{
        opacity: .3;
    }

    .group-2 .img{
        margin-left: 50%;
    }
}

@media screen and (max-width: 690px) {
    .group-2 .img{
        margin: auto;
    }
}



