*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --roxo: #820ad1;
}

header{
    
}

nav{
    display: flex;
    align-items: center;
}

nav > div{
    display: grid;
    width: 100%;
    align-items: stretch;
    grid-template-columns: min-content minmax(160px, 1fr) minmax(min-content, auto);
}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
}

nav .logo{
    font-size: 2em;
    font-weight: bold;
    color: var(--roxo);
    padding: 10px 30px;
}

nav .login{
    position: relative;
    right: 0px;
}
