*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
       
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: black;
}

img{
    max-width: 100%;
    display: block;
}

:root{
    --amarelo:#FFBA00;
    --cinza:#242424;
    --cinza-amarelado: #483500;
    --fonte-padrao: 'Montserrat', sans-serif;
    --fonte-destaque: 'Lato', sans-serif;
}

a{
    color: white;
}

.menu-btn{
    color: white;
    cursor: pointer;
    position: absolute;
    right: 30px;
    display: none;
}

/*-----header-------*/

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px calc((100% - 1440px) /2);
    z-index: 10;
    position: relative;
    top: 30px;
}

header .logo{
    background-color: var(--amarelo);
    display: inline-block;
    height: 77px;
    width: 351px;
    position: absolute;
    left: 0px;
    text-align: right;
}

header .logo a{
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    z-index: 10;
    margin: 20px;
}

header nav ul{
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    gap: 50px;
}

header nav ul a{
    text-transform: capitalize;
    font-size: 1.7rem;
    padding: 10px;
}

.group-1{
    background: url(../img/hero-escuro.jpg) no-repeat center center / cover;
    height: 100vh;
    position: relative;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.group-1::before{
    content: "";
    background: var(--amarelo);
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.group-1::after{
    content: "";
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.group-1 .intro{
    z-index: 10;
    color: white;
    display: flex;
    align-items: flex-end;
}

.group-1 .intro h1{
    font-size: 10rem;
    line-height: 0;
    text-transform: uppercase;
}

.group-1 .intro span{
    font-size: 9rem;
    letter-spacing: 20px;
}

.group-1 .intro a{
    border: 3px solid white;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
    top: 50px;
    background: var(--amarelo);
    transition: .3s;
}

.group-1 .intro a:hover{
    background-color: var(--cinza);
}

/* group-2 */

.group-2{
    background-color: var(--cinza);
    position: relative;
    top: -80px;
    color: white;
    padding: 100px 0px;
}

.group-2 .info{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.group-2 .info h1{
    font-size: 3rem;
    z-index: 10;
}

.group-2 .info .new ul{
    z-index: 10;
}

.group-2 .info p{
    font-size: 1.5rem;
    padding: 20px 0px;
}

.group-2 .info span{
    transform: rotate(-90deg);
    font-size: 3.5rem;
    font-weight: 300;
    z-index: 10;
}

.group-2 .info .new{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 10;
}

.group-2 .design{
    width: 940px;
    height: 190px;
    background-color: var(--amarelo);
    position: absolute;
    top: 50px;
    left: 0px;
}

/* group-3 */

.group-3{
    padding: 50px calc((100% - 1200px) / 2);
    display: flex;
    gap: 40px;
}

.group-3 ul{
    padding: 0px 20px;
}

.group-3 ul h2{
    font-size: 1.5rem;
    color: var(--amarelo);
    margin-bottom: 30px;
}

.group-3 ul p{
    line-height: 25px;
    margin-bottom: 50px;
}

/* group-4 */


.group-4{
    background: url(../img/hero-4.jpg) no-repeat center center / cover;
    min-height: 50vh;
    padding: 100px calc((100% - 1200px) /2);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.group-4::after{
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background: rgba(0, 0, 0, .7);
}

.group-4 .content{
    position: relative;
    z-index: 10;
}

.group-4 .content h2{
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: var(--amarelo);
}

.group-4 .content h1{
    font-size: 48px;
    line-height: 50px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--amarelo);
    margin: 50px 0px;
}

.group-4 .content .info .list{
    display: grid;
    grid-template:
    "item-1 price-1"
    "item-2 price-2"   
    "item-3 price-3"
    "item-4 price-4"; 
    gap: 30px;
}

.group-4 .content .info .list::after{
    display: block;
    content: "";
    height: 300px;
    width: 1600px;
    top: 180px;
    left: -100px;
    position: absolute;
    background: var(--amarelo);
    
}

.group-4 .content .info .list li{
    font-size: 30px;
    z-index: 10;
}

.group-4 .content .info .list .list-item-1{
   grid-area: item-1;
}
.group-4 .content .info .list .list-item-2{
   grid-area: item-2;
}
.group-4 .content .info .list .list-item-3{
   grid-area: item-3;
}
.group-4 .content .info .list .list-item-4{
   grid-area: item-4;
}

.group-4 .content .info .list .price-item-1{
    grid-area: price-1;
}
.group-4 .content .info .list .price-item-2{
    grid-area: price-2;
}
.group-4 .content .info .list .price-item-3{
    grid-area: price-3;
}
.group-4 .content .info .list .price-item-4{
    grid-area: price-4;
}

.group-4 .content .list-2{
    padding: 30px 100px;
    border: 2px solid white;
    margin: 100px 0px;
}

.group-4 .content .list-2 li{
    padding: 10px 0px;
}






@media (max-width:1050px){

    .menu-btn{
        display: block;
    }

    header nav{
        display: none;
    }

    header .logo{
        text-align: left;
        width: 200px;
    }

    .group-1{
        height: 100vh;
        padding: 0px;
    }

    .group-1, .group-1 .intro{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .group-1 .intro h1{
        font-size: 5rem;
        line-height: 20px;
        z-index: 0;
    }

    .group-1 .intro span{
        font-size: 2.8rem;
    }

    .group-1 .intro a{
        top: 0px;
    }

    .group-2 .info span{
        transform: none;
    }

    .group-2 .design{
        display: none;
    }

    .group-2 .info{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0px 10px;
    }

    .group-2 .info .new h1{
        font-size: 2rem;
    }

    .group-2 .info p{
        font-size: 1rem;
    }

    .group-2 .info img{
        display: none;
    }

    .group-3{
        flex-direction: column;
        text-align: center;
    }

    .group-4 .content .info .list::after{
        display: none;
    }

    .group-4 .content .list-2{
        padding: 0px;
        margin: 50px 0px 0px;
        text-align: center;
    }

}

@media (max-width:780px){

    .group-4{
        height: auto;
    }

    .group-4 .content .info .list{
        gap: 10px;
        margin: 10px;
    }

    .group-4 .content .info .list li{
        font-size: 1rem;
    }

}