@media screen and (min-width: 788px) and (max-width: 979px) {
    .baner .container p{
        max-width: 550px;
    }
}

@media screen and (max-width: 787px) {

    .menu-top a, .busca input, .arrow-l, .arrow-r{
        display: none;
    }

    .menu-botton{
        text-align: center;
        margin: 0;
    }

    .menu-botton ul li{
        padding: 10px 0;
    }

    .menu-botton ul li a{
        font-size: 18px;
    }

    .logo{
        margin: 12px auto;
    }

    .baner .container h1{
        font-size: 30px;
        line-height: 40px;
        top: 110px;
    }

    .baner .container p{
        top: 150px;
    }

    .introducao h2{
        line-height: 35px;
    }

    .intro-texto{
        padding-bottom: 0px;
    }

    .icone-intro img, .icone-especial-mobile img{
        margin: 20px auto;
    }

    .icone-especial-desk{
        display: none;
    }

    .icone-especial-mobile{
        display: inline;
    }

    .costumer-ico{
        top: 0px;
        margin: 18px 0;
        transform: none;   
    }

    .footer h3{
        margin-top: 20px;
    }

    .rodape{
        text-align: center;
    }

    .rodape p{
        padding: 20px 0;
    }

    .rodape ul li{
        display: inline-block;
        margin: 0 auto;
        padding-right: 0px;
    }

}