@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #828282;
}

header nav{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 10px auto;
}

header .logo img{
    width: 110px;
}

header nav input{
    border: none;
    background: url(../img/search-solid.svg) no-repeat right;
    background-size: 20px;
    color: #828282;
    outline: none;
    padding: 10px;
}