body{
    font-family: monospace;
    font-size: 1.5em;
}

.container{
    max-width: 360px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}

h1{
    text-align: center;
}

.item{
    background: tomato;
    margin: 5px;
    flex: 1;
    text-align: center;
}

.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}