*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
       
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: black;
}

:root{
    --amarelo:#FFBA00;
    --cinza:#242424;
    --cinza-amarelado: #483500;

    --fonte-padrao: 'Montserrat', sans-serif;
    --fonte-destaque: 'Lato', sans-serif;
}

/*group 1*/

#btn-mobile{
    display: none;
}

header{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0px calc((100% - 1160px) / 2);
    position: relative;
    top: 40px;
    z-index: 10;
    background-image: linear-gradient( to right, #ffba00 30%, rgba(255,255,255,0) 10%);
}

#logo{
    font-size: 2.15rem;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    color: white;
    padding: 10px 20px 28px 100px;
    background: var(--amarelo);
}

#menu{
    display: flex;
    gap: 1rem;
}

#menu a{
    font-size: 1.35rem;
    font-family: var(--fonte-destaque);
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
    color: white;
    transition: .5s;
}

#menu a:hover{
    background-color: var(--amarelo);
    border-radius: 4px;
}

#menu li:last-child{
    margin-right: 10px;
}

@media screen and (max-width:690px) {

    header{
        top: 0px;
        background-image: none;
    }

    #logo{
        font-size: 1.5rem;
        padding-left: 40px;
    }

    #btn-mobile{
        display: flex;
        flex-wrap: wrap;
        margin: 5px 0px;
        padding: .5rem;
        cursor: pointer;
        font-size: 1 rem;
        border: none;
        color: white;
        background: none;
        gap: .5rem;
    
    }

    #hamburguer{
        width: 30px;
        border-top: 4px solid white;
        color: white;
        margin-right: 20px;
    }

    #hamburguer::after, #hamburguer::before{
        content: "";
        width: 30px;
        height: 4px;
        background: currentColor;
        display: block;
        margin-top: 5px;
        transition: .5s;
        position: relative;
    }

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -9px;
    }

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 75px;
        right: 0px;
        background-color: var(--cinza-amarelado);
        height: 0px;
        z-index: 1000;
        transition: .5s;
        overflow-y: hidden;
        visibility: hidden;
    }

    #nav.active #menu{
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu li a{
        display: block;
        padding: 1rem 0;
        margin: 10px 2rem;
        border-bottom: 1px solid white;
        text-align: center;
    }
}

/*intro*/

.group-1{
   
    background: url(img/hero-escuro.jpg) no-repeat center;
    background-size: cover;
    height: 861px;
    position: relative;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.faixa{
    background: var(--amarelo);
    height: 270px;
    width: 100%;
    position: relative;
    top: -680px;
}

.intro h1{
    position: relative;
    color: white;
    font-size: 9rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 100;
}

.intro span{
    position: relative;
    color: white;
    font-size: 9rem;
    text-transform: uppercase;
    z-index: 100;
}

.group-1 a{
    position: relative;
    z-index: 100;
    top: 100px;
    font-size: 2.40rem;
    text-transform: uppercase;
    background-color: var(--amarelo);
    padding: 10px 40px;
    border: 3px solid white;
    color: white;
    transition: .5s;
}

.group-1 a:hover{
    color: var(--cinza);
    border-color: var(--cinza);
}

@media screen and (max-width:690px) {

    .group-1{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .faixa{
        display: none;
    }

    .group-1 .intro h1, .group-1 .intro span{
        font-size: 4rem;
        z-index: 0;
    }

    .group-1 a{
        z-index: 0;
    }
}