*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: .5s;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

img{
    display: block;
    max-width: 100%;
}

:root{
    --azul: #3EA2D8;
    --preto: #0C0C0C;
    --cinza: #222222; 
}

.checkbtn{
    color: white;
    font-size: 1.9rem;
    cursor: pointer;
    margin-right: 25px;
    display: none;
}

#check{
    display: none;
}

/*head*/

header{
    background: var(--preto);
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 10;
}

nav{
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav a{
    display: block;
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}

nav a:hover{
    background-color: #3EA2D8;
    border-radius: 4px; 
}

@media screen and (max-width: 650px) {
    header{
        top: 0px;
    }

    nav a{
        font-size: 1rem;
    }
}

/*intro*/

.intro{
    background: url(../img/1.jpg) no-repeat top;
    background-size: cover;
    height: 975px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.intro::after{
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 975px;
}

.intro h1{
    color: white;
    font-size: 11rem;
    flex: 0;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 10;
}

.intro p{
   color: white;
   z-index: 10;
   text-align: center;
   max-width: 800px;
   padding: 25px;
}

.intro a{
    color: var(--azul);
    z-index: 10;
    background-color: white;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}

.intro a:hover{
    background-color: var(--azul);
    color: white;
}


@media screen and (max-width: 650px) {
    .intro{
        background: url(../img/mobile-bg.jpg) no-repeat center;
    }

    .intro h1{
        font-size: 5rem;
    }
}



