/*ESTILOS GERAIS*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    
}

p{
    color: white;
}

.btn{
    background: white;
    color: black;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 700;
    transition: 400ms;
}

.btn:hover{
    background: #3EA2D8;
    color: #ffffff ;
}

/*HEADER*/

.head{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    position: relative;
    top: 40px;
    padding: 10px;
    z-index: 10;
}

.head-menu{
    text-align: right;
}

.head-logo{
    margin: 0;
}

.head-menu ul li{
    text-transform: uppercase;
    display: inline-block;
    margin-left: 40px;
    margin-top: 12px; 
}

.head-menu li a{
    color: white;
    font-weight: 500;
    letter-spacing: .1em;
    transition: 400ms;
}

.head-menu li a:hover{
    color: #3EA2D8 ;
}

/*INTRO*/

.intro{
    background: url(../img/1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 977px;
    position: relative;
    top: -60px;
    text-align: center;
}

.intro::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}

.destaque{
    text-align: center;
    position: relative;
    top: 350px;
    color: white;
    font-size: 176px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 210px;
}

.frase-importante{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 25px;
    max-width: 750px;
    top: 350px;
    margin: auto;
    position: relative;
}

.intro a{
    color: rgb(0, 0, 0);
    position: relative;
    top: 450px;   
}

/*GROUP-2*/

.group-2{
    background: black;
    margin-top: -60px;
    text-align: center;
}

.quem-somos{
    padding: 220px 0;
    max-width: 650px;
}

.group-2 h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    text-transform: uppercase;
    color: #3EA2D8;
}

.group-2 p{
    color: #3EA2D8;
    font-size: 20px;
    line-height: 35px;
    padding-top: 30px;
}

/*GROUP-3*/

.group-3{
    background: #222;
    color: white;
    padding: 140px 0;
}

.group-3 h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}

.group-3 p{
    padding-right: 40px;
}

/*GROUP-4*/

.group-4{
    background: url(../img/4.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 1098px;
    position: relative;
    text-align: center;
    padding: 110px 0px;
}

.group-4::before{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
}

.intro-group-4 p, h2{
    color: #3EA2D8;
}

.intro-group-4 h2{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
}

.intro-group-4 p{
    color: #3EA2D8;
    font-size: 20px;
    line-height: 35px;
    padding: 30px 0 80px 0;
}

.quality{
    background: #222;
    margin-bottom: 25px;
    width: 300px;
    height: 300px;
    padding: 30px;
    transition: 400ms;
    border-radius: 2px;
}

.quality:hover{
    box-shadow: 0px 0px 9px #3EA2D8;

}

.quality h4, p, span, h5{
    color: white;
}

.quality h4{
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 50px;
}

.quality p{
    font-style: italic;
    font-size: 17px;
    line-height: 20px;
    padding-bottom: 25px;
}

.quality span{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/*GROUP-5*/

.group-5{
    background: black;
    padding: 100px 0;
}

.intro-group-5, .group-5 ul li{
    text-align: center;
}

.group-5 ul li{
    padding-top: 0px 40px;
}

.group-5 div h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.intro-group-5 span, .intro-group-5 p{
    color: #3EA2D8;
    max-width: 550px;
    margin: 0 auto;
}

.intro-group-5 span{
    margin: 50px 0 80px 0;
    display: inline-block;
    margin-right: 50px;
}

.intro-group-5 span:last-child{
    margin-right: 0px;
}

.icone-group-5 li h4{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    padding: 40px 0;
}

.icone-group-5 li p{
    padding: 0 40px 40px 40px;
}

.icone-group-5 li h5{
    text-transform: uppercase;
    font-weight: bold;
}

/*GROUP-6*/

.group-6{
    background-color: #222;
    padding: 150px 0;
    text-align: center;
    color: #ffffff;
}

.quote-6 p{
    max-width: 700px;
    margin: auto;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #3EA2D8;
    line-height: 32px;
}

/*GROUP-7*/

.group-7{
    background: black;
}
.bg-img{
    float: right;
    height: 672px;
}

.quote-7 h2{
    color: #3EA2D8;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 45px;
    padding-top: 250px;
}

.quote-7 p{
    color: #3EA2D8;
    margin-top: 30px;
    max-width: 400px;
}

/*GROUP-8*/

.group-8{
    background: url(../img/2.png) no-repeat;
    width: 100%;
    height: 686px;
    background-size: cover;
    position: relative;
}

.group-8::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}

.cta-8{
    text-align: right;
}

.cta-8 h2{
    font-size: 60px;
    font-weight: bold;
    padding-top: 190px;
    color: white;
    text-transform: uppercase;
}

.cta-8 p{
    padding: 25px 0 50px 500px;
    
}