@media only screen and (min-width: 788px) and (max-width: 979px) {
	.qualidade:after{
		left: 78px;
	}

	.redes-sociais ul li a img{
		height: 26px;
		width: 26px;
	}

	.overlay::after{
		width: 508px;
		height: 222px;
	}

	.produto-item h2{
		top: -140px;
	}

	.produto-icone{
		padding: 41px 0;
	}

	.produtos-info p{
		font-size: 14px;
		line-height: 20px;
		padding: 20px 20px;
	}

	.produtos-info ul li{
		width: 179px;
	}
	
}

@media only screen and (max-width: 787px){

	.header{
		position: relative;
	}

	.header img{
		margin: 0 auto;
	}

	.header-menu {
		text-align: center;
		margin-bottom: 5px;
	}

	.header-menu ul li{
		margin: 20px 0 0 0;
	}

	.header-menu ul li a{
		display: inline-block;
		width: 120px;
		border: 4px solid rgb(0, 0, 0);
		padding: 10px 5px;
		transition: 400ms;
	}

	.header-menu ul li a.menu-ativo{
		border-color: white;
	}

	.introducao{
		background: url(../img/bg-mobile.jpg) no-repeat center;
		margin-top: 0;
	}

	.introducao::after{
		margin-top: 223px;
		height: 380px;
	}

	.introducao h1{
		font-size: 40px;
		margin-top: 40px;
	}

	.cta{
		padding: 0 0 20px 0;
	}

	.qualidade:after{
		display: none;
	}

	.qualidade .cta p{
		font-size: 18px;
		line-height: 25px;
	}

	.introducao-interna{
		margin-top: 0;
	}

	.introducao-interna::after{
		top: 223px;
	}

	.missao-sobre p{
		padding-right: 0px;
	}

	.overlay::after{
		width: 300px;
		height: 131px;
		left: 0;
	}

	.produto-item h2{
		top: -100px;
	}

	.produto-icone{
		padding: 41px 0;
	}

	.produtos-info p{
		font-size: 14px;
		line-height: 20px;
		padding: 20px 20px;
	}

	.produtos-info ul li{
		width: 147px;
		font-size: 14px;
	}

	.form{
		padding-right: 0px;
	}

	.orcamento-dados{
		padding-left: 0;
	}

	.form-contato{
		padding-right: 0px;
	}
	.contato-dados{
		padding-left: 0px;
	}
}