body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    font-size: 14px;
}

.container{
    z-index: 5;
}

img{
    display: block;
}

.btn, .btn-preto{
    border: 3px solid #FEC636;
    padding: 8px 15px;
    color: #FEC636;
    transition: 400ms;
    font-style: 14px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover{
    border-color: white;
    color: white;
}

.btn-preto:hover{
    border-color: black;
    color: black;
}

.subtitulo{
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.subtitulo::after{
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background: black;
    margin: 8px auto;
}

.introducao-interna{
    margin-top: 82px;
    width: 100%;
    height: 160px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.introducao-interna::after{
    content: "";
    top: 82px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 160px;
    background: rgba(0, 0, 0, 0.5);
}

.introducao-interna h1{
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
}

.introducao-interna h1::after{
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    background: #ffffff;
    margin: 3px auto 8px auto;
}

.interna-sobre p{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*HEADER*/

.header{
    width: 100%;
    background: #FEC636;
    padding: 10px 0;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.header-menu{
    text-align: right;
}

.header-menu ul li{
    display: inline-block;
    margin: 25px 0 0 20px;
}

.header-menu ul li a{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    line-height: 20px;
    color: black;
    font-weight: bold;
    padding: 10px 0;
    transition: 400ms;
}

.header-menu ul li a.menu-ativo{
    color: white;
}

.header-menu ul li a:hover{
    color: white;
}

/*INTRODUÇÃO*/

.introducao{
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    height: 380px;
    text-align: center;
    margin-top: 82px;
}

.introducao::after{
    content: "";
    margin-top: 82px;
    width: 100%;
    height: 380px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.introducao h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-top: 80px;
}

.introducao p{
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto;
    color: white;
    font-style: italic;
    margin-bottom: 20px;
}

.introducao p::before{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 9px auto;
}

.introducao p::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 9px auto;
}

.quote-externo{
    margin-bottom: 40px;
}

cite{
    color: white;
    text-transform: uppercase;
    font-style: normal;
}

/*PRODUTOS*/

.produtos{
    padding: 60px 0;
    text-align: center;
}

.produto-info{
    background: #FEC636;
}

.produto-icone{
    background: black;
    padding: 20px 0;
}

.produto-icone img{
    margin: 0 auto;
}

.produto-info h3{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 20px 0;
}

.produto-info h3::after{
    content: "";
    width: 60px;
    height: 3px;
    background: #000000;
    margin: 0 auto;
    display: block;
    margin-top: 8px;
}

.produto-info p{
    padding: 0px 10px;
}

.cta{
    clear: both;
    padding: 50px 0 40px 0;
}

/*PORTFOLIO*/

.portfolio{
    text-align: center;
    padding: 40px 0;
    background: black;
    width: 100%;
}

.portfolio .subtitulo{
    color: #FEC636;
}

.portfolio .subtitulo::after{
    background: #FEC636;
}

.produtos-lista li:last-child{
    padding-top: 20px;
}

.portfolio .cta p{
    color: white;
    padding-bottom: 30px;
}

/*QUALIDADE*/   

.qualidade{
    padding: 60px 0;
    text-align: center;
}

.qualidade img{
    margin: 0 auto;
    padding-bottom: 20px;
}

.qualidade-lista{
    overflow: hidden;
}

.qualidade li h3{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    padding: 20px 0 4px 0;
}

.qualidade li h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 8px auto 6px auto;
}

.qualidade:after{
    content: "";    
    display: block;
    background: url(../img/linhas.svg) no-repeat center;
    width: 634px;
    height: 83px;
    position: absolute;
    z-index: -1;
    top: 209px;
    left: 164px;
}

.qualidade .cta p{
    padding-bottom: 40px;
    font-size: 24px;
}

/*QUEBRA*/      

.quebra{
    background: url(../img/bg-footer.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 220px;
}

.quebra .quote-externo{
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    max-width: 600px;
}

.quebra .quote-externo p{
    font-size: 18px;
    font-style: italic;
    padding-bottom: 20px;
}

.quebra .quote-externo cite{
    font-size: 24px;
    font-weight: bold;
}

/*FOOTER*/

.footer{
    background: black;
    color: white;
    padding: 20px 0;
}

.footer h3{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 25px;
    text-transform: uppercase;
    color: #FEC636;
}

.footer h3:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC636;
    margin: 6px 0 15px 0;
}

.footer p{
    padding-right: 60px;
}

.redes-sociais ul li{
    display: inline-block;
}

.redes-sociais ul li a{
    border: 3px solid #FEC636;
    display: block;
    padding: 10px;
    transition: 400ms;
}

.redes-sociais ul li a:hover{
    border-color: white;
}

.copy{
    background: #FEC636;
    padding: 15px 0;
}