*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --azulesc: #122AB2;
    --azulcla: #2C70FF;
    --fonte: #7C7C7C;
    --titulo: #222222;
    --linha1: #AE81FF;
    --linha2: #F9265E;
    --linha3: #66D9EB; 
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

img{
    display: block;
    max-width: 100%;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

header{
    background: var(--azulesc);
    display: flex;
    padding: 10px calc((100% - 960px) / 2);
    justify-content: space-between;
    flex-wrap: wrap;
}

header a, header p{
    color: white;
    padding: 0 10px;
    font-weight: bold;
    font-size: 1rem;
}

nav{
    background: var(--azulcla);
    padding: 30px calc((100% - 960px) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    align-items: center;   
}

nav a{
    color: white;
    padding: 0px 10px;
}

.logo{
    font-size: 3rem;
    font-weight: bold ;
}

.menu a{
    font-size: 1.65rem;
    font-weight: bold;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}

.intro{
    padding: 50px 0;
}