@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --cinza: #414143;
    --marron: #cdb7a0;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #414042;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 10px;
}

img{
    width: 100%;
    display: block;
}

.menu-btn{
    color: white;
    cursor: pointer;
    display: none;
}

h1{
    font-size: 30px;
    line-height: 30px;
}

a{
    color: black;
}

.btn{
    display: inline-block;
    background-color: var(--marron);
    padding: 20px 40px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
}

.btn:hover{
    opacity: .7;
}

i{
    color: var(--marron);
}

/*-----------header--------------*/

header{
    background-color: var(--cinza);
    height: 72px;
    width: 100%;
}

header a{
    color: white;
}

header > div{
    padding: 0px 10px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.logo img{
    width: 250px;
    margin-left: 10px;
}

.header nav .main-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.rastreio{
    background-color: var(--marron);
    padding: 26px;
    color: var(--cinza);
}

.rastreio i{
    color: var(--cinza);
}

/*---------hero------------*/

.hero{
    background: url(../img/banner-principal-home-dialogo-logistica.jpg) no-repeat center center / cover;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: end;
    padding: 0px calc((100% - 1100px) / 2);
}

.hero .intro h1{
    color: white;
    max-width: 300px;
    text-align: right;
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
}

.hero .intro{
    position: relative;
}

.hero .intro i{
    color: var(--marron);
    position: absolute;
    top: 0px;
    right: -180px;
    
}

/*-------- testemonials ------------*/

.testemonials .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testemonials h1{
    font-weight: 300;
    text-align: center;
}

.testemonials .quotes{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 50px 0px;
}

.testemonials .quotes blockquote{
    font-style: italic;
    max-width: 400px;
}

.testemonials .quotes img{
    width: 210px;
}

.testemonials a{
    display: block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--cinza);
    border: 1px solid var(--cinza);
    padding: 15px 25px;
    transition: .3s;
}

.testemonials a:hover{
    color: var(--marron);
    border-color: var(--marron);
}

/* info */

.info{
    background-color: var(--cinza);
    color: white;
}

.info .container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

.info i{
    color: var(--marron);
}

.info .filiais{
    display: flex;
    align-items: center;
    text-align: right;
    gap: 15px;
}

.info .filiais p{
    font-size: 20px;
}

.info .filiais span{
    display: block;
    font-size: 40px;
}

/* group 4 */

.group-4{
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    text-align: center;
}

.group-4 .intro{
    max-width: 800px;
}

.group-4 .intro h1{
    margin-bottom: 30px;
}

.group-4 .intro p{
    line-height: 23px;
    padding: 20px 0px;
}

.group-4 .list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 30px;
}

.group-4 .list li{
    padding: 20px 10px;
    text-transform: capitalize;
}

.group-4 .list i{
    margin-right: 10px;
    color: var(--marron);
}

.group-4 .list a{
    font-size: 30px;
    color: var(--cinza);
}

/* news */

.news{
    background-color: var(--cinza);
    color: white;
    text-align: center;
}

.news .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news form input{
    padding: 20px 40px;
    background: transparent;
    border: 2px solid var(--marron);
    outline: none;
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

.news form input::placeholder{
    color: white;
}

.news form .btn{
    background: var(--marron);
    border-radius: 0px;
    padding: 20px;
    cursor: pointer;
}

/* features */

.features .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features .container h1{
    margin-bottom: 50px;
}

.features .container .cards{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-auto-rows: 250px;
    gap: 30px;
}

.features .container .cards .card{
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    padding: 30px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.features .container .cards .card i{
    margin-bottom: 30px;
    color: var(--marron);
}

.features .container .cards .card p{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 30px;
    display: none;
}

.features .container .cards .card:hover p{
    display: block;
}

.features .container .cards .card:hover h2, 
.features .container .cards .card:hover i{
    display: none;
}

/* banner */

.banner{
    background: url(../img/bg-20-anos-dialogo.jpg) no-repeat center right / cover;
    height: 350px;
    color: white;
    text-align: center;
    display: flex;
}

.banner .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .container h1{
    font-size: 60px;
    line-height: 80px;
}

.banner .container p{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}

.banner .container span{
    text-transform: uppercase;
    color: var(--marron);
}

/* blog */

.blog .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog .container > a{
    font-size: 20px;
}

.blog .wrapper{
    display: flex;
    gap: 40px;
}

.blog .article{
    margin-top: 30px;
    position: relative;
}

.blog .article .text{
    position: relative;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 450px;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.blog .article .text h3,
.blog .article .text p{
    margin-bottom: 20px;
}

.blog .article .text a{
    font-weight: bold;
}

/*--------conquistas----------*/

.conquistas{
    background: url(../img/bg-sameday-dialogo-logisitica.jpg) no-repeat center right / cover;
    color: white;
    text-align: center;
}

.conquistas .container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0px 0px;
}

.conquistas .container ul li{
    flex: 0 1 300px;
}

/*----------footer-----------*/

footer{
    background: var(--cinza);
    color: white;
}

footer a{
    color: white;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

footer nav{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

footer nav ul li+li{
    padding-top: 30px;
}

footer .rastreio-footer{
    color: var(--cinza);
    display: inline-block;
    align-self: center;
    padding: 15px 20px;
    background: var(--marron);
}

footer .rastreio-footer i{
    color: var(--cinza);
}

footer .social ul li{
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
}

footer .linha{
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}

footer .footer-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .footer-bottom img{
    width: 70%;
}

/* ---------- serviços --------------*/


.hero-servicos{
    background: url(../img/banner-servicos-dialogo-logistica.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    height: 50vh;
}

.sobre{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre .intro-interna{
    display: flex;
    gap: 15px;
}

.sobre .intro-interna h1{
    font-size: 50px;
    line-height: 60px;
    color: white;
}

/*----------marcas-------------*/

.marcas{
    text-align: center;
}

.marcas p{
    font-size: 20px;
}

.marcas ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*----------reuso-----------*/

.features{
    position: relative;
}

.features::after{
    display: block;
    content: "";
    height: 250px;
    width: 100%;
    top: 0px;
    left: 0;
    position: absolute;
    background: var(--cinza);
    z-index: -1;
}

.features-interna h1{
    color: white;
    line-height: 40px;
}










/*---------media queries-----------*/

@media(max-width:1000px){

    .menu-btn{
        display: block;
        margin-right: 20px;
    }

    .rastreio{
        display: block;
        position: absolute;
        padding: 30px;
        top: 70px;
        left: 0px;
        height: 50px;
        width: 100%;
        background-color: var(--marron);
        text-align: center;
        z-index: 11;
        font-size: 20px;
        color: var(--cinza);
    }

    .main-menu {
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 10px;
        left: 0px;
        background-color: var(--cinza);
        width: 100%;
        height: 100vh;
        margin: 0px;
        padding: 0px;
        z-index: 10;
        transform: translateX(-1000px);
        transition: .5s ease-in-out;
    }

    .hero-interna{
        position: relative;
        top: 55px;
        margin-bottom: 55px;
    }

    .main-menu.show{
        transform: translateX(0px);
    }

    .main-menu:first-child{
        margin-top: 120px;
    }

    .main-menu li a{
        display: block;
        padding: 15px 100px;
        color: white;
    }

    .main-menu li:first-of-type{
        margin-top: 40px;
    }

    .hero{
        grid-template-columns: 1fr;
    }

    .hero .intro h1{
        text-align: center;
    }

    .hero .intro i{
        top: 100px;
        right: 0px;
    }

    .testemonials .quotes{
        flex-direction: column;
    }

    .testemonials .quotes blockquote{
        text-align: center;
    }

    .info .container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 50px;
    }

    .group-4 .list{
        gap: 10px;
    }

    .group-4 .list ul{
        margin-top: 20px;
    }

    .group-4 .list li{
        padding: 0px;
    }

    .group-4 .list a{
        font-size: 16px;
    }

    .news form .btn{
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .news form input{
        margin-right: 0px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .blog .container h1{
        text-align: center;
        margin-bottom: 30px;
    }
    
    .features .container .cards{
        grid-template-columns: 1fr;
    }

    .blog .wrapper{
        flex-direction: column;
        gap: 0px;
    }

    .blog .article .text{
        width: 320px;
        bottom: 0px;
        gap: 40px;
        padding: 20px;
    }

    footer .container,
    footer nav{
        justify-content: center;
        text-align: center;
    }

    footer .social ul li:last-child{
        padding-right: 0px;
    }

    footer .footer-bottom{
        justify-content: center;
    }
    
}