@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --cinza: #414143;
    --marron: #cdb7a0;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

/*-----------header--------------*/

header{
    background-color: var(--cinza);
    height: 72px;
    width: 100%;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header a{
    color: white;
}

.header .logo{
    width: 250px;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/*---------hero------------*/

.hero{
    background: url(../img/banner-principal-home-dialogo-logistica.jpg) no-repeat center center / cover;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: end;
    padding: 0px calc((100% - 1100px) / 2);
}

.hero .intro h1{
    color: white;
    max-width: 300px;
    text-align: right;
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
}

.hero .intro{
    position: relative;
}

.hero .intro i{
    color: var(--marron);
    position: absolute;
    top: 0px;
    
    
}