
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

main, nav, footer{
    text-align: center;
}

#busca{
    display: none;
}

.estrutura{
    display: grid;
}

/*fim dos estilos gerais*/

/* -------- group 1 navegação ---------*/

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
    grid-area: nav;
}

#logo{
    margin-bottom: 10px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

nav ul a{
    display: block;
    padding: 10px 5px;
    color: white;
    text-transform: uppercase;
}

/*------group 1 introdução---------*/

.group-1{
    background: url(../img/Header\ Background-resize-mobile.jpg) no-repeat center;
    background-size: cover;
    color: white;
    position: relative;
    margin-bottom: 30px;
}

.group-1 .info{
    grid-area: left;
}

.grou-1 img{
    grid-area: right;
}

.group-1 .info h1{
    text-transform: capitalize;
    font-size: 3em;
    line-height: 1;
}

.group-1 .info span{
    font-size: 1.25em;
    display: block;
    text-transform: uppercase;
}

.group-1 .info a{
    display: inline-block;
    color: #2E3034;
    background: white;
    padding: 12px 20px;
    margin: 20px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.group-1 .info p{
    margin: 1em 0px;
}

.group-1 .folhas{
    position: absolute;
    bottom: -40px;
}

/*------group 2---------*/

.group-2{
    padding: 30px 10px;
}

.group-2 img{
    margin-top: 20px;
}

.group-2 a{
    display: inline-block;
    margin-top: 30px;
    background: #2E3034;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/*------group 3---------*/

.group-3{
    padding: 30px 10px;
    background: #2E3034;
    color: white;
}

.group-3 h1{
    font-size: 2em;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.group-3 p + p{
    margin-top: 20px;
}

.group-3 a{
    color: #2E3034;
    display: inline-block;
    margin-top: 20px;
    background: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}


/*------group 4----------*/

.group-4{
    padding: 30px 10px;
}

.group-4 h2{
    margin-bottom: 30px;
}

.group-4 a{
    display: inline-block;
    margin-top: 30px;
    background: #2E3034;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

/*---------group 5----------*/

.group-5{
    padding: 0px 10px 30px 10px;
}

.group-5 h2{
    margin-bottom: 30px;
}

.group-5 a{
    display: inline-block;
    margin-top: 30px;
    background: #2E3034;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

/*-------group 6---------*/

.group-6{
    background: url(../img/Header\ Background-resize-mobile.jpg) no-repeat center;
    background-size: cover;
    padding: 60px 10px 0px 10px;
    color: white;
    position: relative;
}

.group-6 .pizza{
    width: 70%;
    margin: 0 auto;
}

.group-6 .pedaco{
    width: 30%;
    position: relative;
    top: -90px;
}

.group-6 .folhas{
    position: absolute;
    bottom: 130px;
}

.group-6 h1{
    font-size: 2em;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.group-6 p{
    margin-bottom: 30px;
}

.group-6 p::after{
    display: block;
    content: "";
    width: 160px;
    height: 5px;
    background-color: white;
    margin: 10px auto;
}

/*---------group 7----------*/

.group-7{
    padding: 30px 10px;
    
}

.group-7 h1{
    font-size: 2em;
    margin-bottom: 20px;
}

.group-7 p{
    margin-bottom: 30px;
}

.group-7 a{
    display: inline-block;
    margin: 30px 0px;
    color: #2E3034;
    border: 1px solid #2E3034;
    padding: 12px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    
}

/*-----------group 8----------*/

.group-8 {
    background-color: #27292C;
    color: white;
    padding: 30px 10px;
    position: relative;
}

.group-8 img{
    display: none;
}

.group-8 h1{
    font-size: 3em;
    margin-bottom: 30px;
}

.group-8 p{
    margin-bottom: 30px;
}

.group-8 input{
    display: block;
    width: 70%;
    margin: 10px auto;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 25px;
}

.group-8 button{
    background: #54524F;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
}